.statistics {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  background-color: #fff;
  border-radius: 4px;
}

.title {
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

.statlist {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  background-color: #e7ecf2;
  padding-left: 0;
  border-radius: 0 0 4px 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  padding: 0.5rem;
}

.item + .item {
  border-left: 1px solid rgb(0, 0, 0, 0.2);
}

.label {
}

.percentage {
}
