.friendList {
  margin: auto;
  padding: 0;
  width: 300px;
  list-style: none;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

.offline {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.name {
  margin-left: 5px;
}
